$skills: ("html", "css", "sass", "js", "react")

.skillbar-card
    width: 95px
    height: 150px
    align-items: center
    display: flex
    justify-content: space-evenly
    flex-direction: columns
    border-radius: 10px
    background-color: white
    position: absolute
    flex-wrap: wrap
    transition: all 0.5s ease-in
    box-shadow: -11px 10px 10px -5px rgba(0,0,0,0.1)
    &:hover
        box-shadow: -11px 10px 10px -5px rgba(0,0,0,0.5)
    @each $skill in $skills 
        &.#{$skill}
            top: 85%
        @if $skill == "html"
            &.#{$skill}
                right: 35% 
        @else if $skill == "sass"
            &.#{$skill}
                right: 30%
        @else if $skill == "js"
            &.#{$skill}
                right: 20%
        @else if $skill == "react"
            &.#{$skill}
                right: 10%
    
